<body style="background-image: url(https://img.freepik.com/free-vector/white-abstract-wallpaper_23-2148830026.jpg); background-repeat: no-repeat; background-attachment: fixed; background-size: 100% 100%;">

<h1>Based on the survey we suggest you to opt for Arts based carrier such as: Literature,physics,computer application etc. </h1>
<div>
   <p style="font-size: x-large;">The specific requirements for opting for the arts group may vary depending on the educational institution and country. However, in general, here are some common requirements for opting for the arts group:<p>   

    <p style="margin-left: 20px; font-size: x-large;"><b>Educational Level:</b> You must have completed your secondary education, usually up to the 10th grade or equivalent level.<br><br>

    <b>Age: </b>You should be of the minimum age required to apply for the arts group as per the admission policy of the educational institution.<br><br>

    <b>Academic Qualification:</b> You should have obtained the minimum required grades in the subjects that are necessary for the arts group. For example, some institutions may require a minimum grade in language and social science subjects.<br><br>

    <b>Interest: </b> You should have a genuine interest in the arts and humanities subjects, including literature, languages, history, philosophy, etc
    <br><br>

    <b>Admission Test:</b>: Some educational institutions may require you to appear for an admission test to assess your aptitude for the arts group.
    <br><br>

    <b>Skills: </b>:  You should possess skills such as creativity, analytical thinking, communication, and problem-solving, which are crucial for the arts group.<br><br>
    </p>     
</div>
</body>