<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Business Guidance</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="static/CSS/styles.css" type="text/css">
  <link rel="stylesheet" href="static/CSS/interest.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap"
      rel="stylesheet"
  />  
</head>

<body >

  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
      <a class="navbar-brand" id="text" href="#">Business <span class="brand">Guidance</span></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" id="active" aria-current="page" href="#">HOME</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="links" href="/interest">INTEREST</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
      <section class="hero"style="background-image: url('https://www.wbcsd.org/var/site/storage/images/programs/redefining-value/making-stakeholder-capitalism-actionable/assurance-internal-controls/resources/guidance-on-improving-the-quality-of-esg-information-for-decision-making/116068-1-eng-GB/Guidance-on-improving-the-quality-of-ESG-information-for-decision-making_i1140.jpg');">
         <div class="container" >
             <div class="row">
                 <div class="col-sm-12 col-md-7 col-lg-7">
                      
                      <div class="hero-header">
                      
                         <h2>Tomorrow Looks Better Because We're <span class="hero-head">Here to Help You </span>Choose Your Right Business Track.</h2>
                     </div>
                     <div class="more">
                        
                     </div>
                 </div>
             </div>
             <div class="row">
                 <div class="col-sm-12 col-md-12 col-md-12">
                    <div class="scrolls">
                        <a href="#" class="scroll-down" address="true">
                          <img src="static/images/mouse_click.png" alt="">
                        </a>
                      </div>
                 </div>
             </div>
         </div> 

    
      </section>
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
          <li data-target="#myCarousel" data-slide-to="3"></li>
          <li data-target="#myCarousel" data-slide-to="4"></li>
          <li data-target="#myCarousel" data-slide-to="5"></li>
          <li data-target="#myCarousel" data-slide-to="6"></li>
          <li data-target="#myCarousel" data-slide-to="7"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img
              src="https://static.startuptalky.com/2023/01/service-marketing-guide-startuptalky--1-.jpg"
              alt="image"
              height="100"
              width="100"
            />
            <div class="container">
              <div class="carousel-caption">
                <h2 style="color: white;">Service marketing</h2>
                <p style="color:white">Service marketing is a subfield of marketing that focuses on promoting and selling services rather than physical products.</p>
               
              </div>
            </div>
            
          </div>
          <div class="carousel-item">
            <img src="https://images.squarespace-cdn.com/content/5fce63270356d927d7eecdbd/1660017917060-444N8WOQC0IDA0S8NFPQ/Core+Engineering+Branches+01.jpg?content-type=image%2Fjpeg" alt="imge" />
            <div class="container">
              <div class="carousel-caption">
                <h2 style="color: white;">Technology</h2>
                <p style="color: white;">Technology refers to the application of scientific knowledge, tools, methods, and systems to solve practical problems, accomplish specific tasks, or achieve specific objectives</p>
               
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <img src="https://cdn.inc42.com/wp-content/uploads/2023/08/Glossary-Series-D2C-_-Batch-3-Designs-ftr-social-F4.jpg" alt="image" />
            <div class="container">
              <div class="carousel-caption">
                <h2 style="color:white;">E-commerce</h2>
                <p style="color: white;">
                  E-commerce involves the exchange of products or services between businesses, consumers, or individuals using electronic platforms, such as websites, mobile apps, and online marketplaces
                </p>
                
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <img src="https://www.sobha.com/blog/wp-content/uploads/2023/06/EOI-Expression-of-Interest-in-Real-Estate-800x533.png" alt="image" />
            <div class="container">
              <div class="carousel-caption">
                <h2 style="color: white;">Real estate</h2>
                <p style="color: white;">
                  Real estate business refers to the industry and activities related to buying, selling, managing, developing, and investing in real property, which includes land and buildings.
                </p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <img src="https://lodestar.guru/blog/wp-content/uploads/2023/04/Business-Finance.jpg" alt="image" />
            <div class="container">
              <div class="carousel-caption">
                <h2 style="color: white;">Finance</h2>
                <p style="color: white;">
                  Finance refers to the management of money and other financial resources within an organization, individual, or economy. It  is a crucial aspect of both personal and business decision-making and plays a central role in economic systems.
                </p>
                
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <img src="https://storage.googleapis.com/gweb-uniblog-publish-prod/images/google_health_nhs_hero.width-1200.format-webp.webp" alt="image" />
            <div class="container">
              <div class="carousel-caption">
                <h2 style="color: white;">Health care</h2>
                <p style="color: hwb(0 97% 3%);">
                  Healthcare refers to the maintenance, improvement, and restoration of an individual's physical and mental well-being
                </p>
              </div>
            </div>
          </div>
        <a
          class="carousel-control-prev"
          href="#myCarousel"
          role="button"
          data-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a
          class="carousel-control-next"
          href="#myCarousel"
          role="button"
          data-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
      
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
      <script src="static/JS/scripts.js"></script>
      <script src="static/JS/interest.js"></script>
      <script
      src="https://code.static.jquery.com/jquery-3.6.0.js"
      integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
      crossorigin="anonymous"
    ></script>
    <script src="static/JS/jquery.js"></script>
    <script src="static/CSS/bootstrap-4.6.0-dist/js/bootstrap.js"></script>

    </body>
    </html>
 


