<body>
<form action="/technology" method="post">
	<form>

<p>1.What type of technology projects have you been most passionate about?
</p>
		<input type="radio" name="q1" value="a">a. Developing software applications and websites<br>
		<input type="radio" name="q1" value="b">b. Building hardware prototypes and devices<br>
		<input type="radio" name="q1" value="c">c. Leveraging data and AI for insights and automation<br>
		<input type="radio" name="q1" value="d">d. Exploring IoT and connected devices<br>

		<p>2.Which area of tech innovation excites you the most?</p>
		<input type="radio" name="q2" value="a">a. Creating user-friendly apps and interfaces<br>
		<input type="radio" name="q2" value="b">b.  Working on physical products and electronics<br>
		<input type="radio" name="q2" value="c">c. Harnessing the power of data and machine learning<br>
		<input type="radio" name="q2" value="d">d. Building interconnected smart systems<br>

		<p>3.What is your preferred focus when it comes to technology startups</p>
		<input type="radio" name="q3" value="a">a. Software development and digital solutions<br>
		<input type="radio" name="q3" value="b">b. Hardware manufacturing and physical products<br>
		<input type="radio" name="q3" value="c">c.  Data analytics and AI-driven applications<br>
		<input type="radio" name="q3" value="d">d. IoT and smart device ecosystems
<br>

		<p>4.Which aspect of tech startups aligns with your expertise and interests?
</p>
		<input type="radio" name="q4" value="a">a. Software design and coding<br>
		<input type="radio" name="q4" value="b">b. Hardware prototyping and engineering<br>
		<input type="radio" name="q4" value="c">c.  Data analysis and machine learning algorithms<br>
		<input type="radio" name="q4" value="d">d.  Sensor technology and IoT architecture<br>

		<p>5.In which domain do you have prior experience or technical skills?
</p>
		<input type="radio" name="q5" value="a">a. Web and mobile app development.<br>
		<input type="radio" name="q5" value="b">b.  Electronics and hardware design.<br>
		<input type="radio" name="q5" value="c">c. Data science and analytics<br>
		<input type="radio" name="q5" value="d">d.Internet of Things (IoT) and connected devices
.<br>


<p>6.What type of technology products or services do you envision building?

</p>
		<input type="radio" name="q6" value="a">a. User-friendly applications and software tools<br>
		<input type="radio" name="q6" value="b">b. Innovative hardware devices and gadgets<br>
		<input type="radio" name="q6" value="c">c. AI-powered solutions for complex problems<br>
		<input type="radio" name="q6" value="d">d. Smart and interconnected IoT systems<br>

		<p>7.Are you more inclined toward creating virtual or physical tech solutions?</p>
		<input type="radio" name="q7" value="a">a. Virtual solutions (software and apps)<br>
		<input type="radio" name="q7" value="b">b.  Physical solutions (hardware and devices)<br>
		<input type="radio" name="q7" value="c">c.  A combination of both<br>
		<input type="radio" name="q7" value="d">d. It depends on the specific project
<br>

		<p>8.Which industry or market do you see your tech startup serving?</p>
		<input type="radio" name="q8" value="a">a.  Digital and online services<br>
		<input type="radio" name="q8" value="b">b. Consumer electronics and hardware<br>
		<input type="radio" name="q8" value="c">c.  Finance, healthcare, or other data-driven sectors<br>
		<input type="radio" name="q8" value="d">d.  IoT applications in various industries
<br>

		<p>9.How do you feel about the long development cycles often associated with hardware startups?
</p>
		<input type="radio" name="q9" value="a">a. Comfortable; I enjoy the challenges of hardware development<br>
		<input type="radio" name="q9" value="b">b.  Not my preference; I prefer faster-paced software development.<br>
		<input type="radio" name="q9" value="c">c.  I'm adaptable and can handle varying project timelines.<br>
		<input type="radio" name="q9" value="d">d.  I have no strong preference<br>

		<p>10.Which area of technology do you believe will have the most significant impact on society in the next decade?
</p>
		<input type="radio" name="q10" value="a">a.Software and digital experiences.<br>
		<input type="radio" name="q10" value="b">b.  Hardware and physical innovations.<br>
		<input type="radio" name="q10" value="c">c. Data-driven insights and AI advancements<br>
		<input type="radio" name="q10" value="d">d.The interconnected world of IoT.<br>

        <button type="submit" style="margin: 50px;">submit</button>
	</form>
</form>
</body>		