<body>

	<h1>Multiple Choice </h1>
<form action="/engineer" method="post">
	<form>
		<p>1.Which of the following subjects do you find most interesting?</p>
		<input type="radio" name="q1" value="a">a. Computer Science<br>
		<input type="radio" name="q1" value="b">b. History<br>
		<input type="radio" name="q1" value="c">c. Literature<br>
		<input type="radio" name="q1" value="d">d. Political Science<br>
    
		<p>2.Which of the following tasks do you find the most interesting?</p>
		<input type="radio" name="q2" value="a">a. Developing software or apps<br>
		<input type="radio" name="q2" value="b">b. Managing finances<br>
		<input type="radio" name="q2" value="c">c. Marketing and advertising<br>
		<input type="radio" name="q2" value="d">d. Providing customer service<br>

		<p>3.Which of the following skills do you think are the most important to have in your career?</p>
		<input type="radio" name="q3" value="a">a. Technical skills<br>
		<input type="radio" name="q3" value="b">b. Communication skills<br>
		<input type="radio" name="q3" value="c">c. Leadership skills<br>
		<input type="radio" name="q3" value="d">d. Creativity skills<br>

		<p>4.Which of the following hobbies do you enjoy the most?</p>
		<input type="radio" name="q4" value="a">a. Building computers or coding<br>
		<input type="radio" name="q4" value="b">b. Reading novels and poetry<br>
		<input type="radio" name="q4" value="c">c. Hiking or outdoor activities<br>
		<input type="radio" name="q4" value="d">d. Playing a musical instrument<br>

		<p>5.Which of the following statements do you agree with the most?</p>
		<input type="radio" name="q5" value="a">a. I enjoy working with technology and solving technical problems..<br>
		<input type="radio" name="q5" value="b">b. I prefer to read and write about social and cultural issues.<br>
		<input type="radio" name="q5" value="c">c. I enjoy spending time outdoors and being active.<br>
		<input type="radio" name="q5" value="d">d. I enjoy creative pursuits like making art or music.<br>

        <button type="submit" style="margin: 50px;">submit</button>
	</form>
</form>
</body>






