
<body style="background-image: url(https://img.freepik.com/free-vector/white-abstract-wallpaper_23-2148830026.jpg); background-repeat: no-repeat; background-attachment: fixed; background-size: 100% 100%;">

    <h1>Based on the survey we suggest you to opt for MBBS   based carrier such as: Ophthalmology, Dermatology, Psychiatry etc. </h1>
    <div>
       <p style="font-size: x-large;">The requirements for opting MBBS (Bachelor of Medicine and Bachelor of Surgery) may vary depending on the country and the university you wish to apply to. However, some common requirements are:
        <p>   
    
        <p style="margin-left: 20px; font-size: x-large;"><b>Educational qualifications: </b>You need to have completed your high school education with a strong background in science subjects, including physics, chemistry, and biology.<br><br>
    
        <b>Entrance examination </b>Most universities require you to appear for an entrance exam. For example, in India, students have to clear the National Eligibility cum Entrance Test (NEET) to get admission to medical colleges.<br><br>
    
        <b>Minimum age</b>Some universities have a minimum age requirement for applicants, which may be around 17-18 years.<br><br>
    
        <b>Language proficiency:  </b>Some universities may require you to demonstrate proficiency in the language of instruction. For example, in India, you may need to have proficiency in English and the local language.    <br><br>
    
        <b>Good health:</b>:Medical students are required to have good health as they will be dealing with patients. Some universities may require a medical check-up to ensure that the students are physically fit.
        <br><br>
    
        <b>Good communication skills: </b>:  Medical professionals need to have good communication skills to interact effectively with patients, colleagues, and other healthcare professionals.<br><br>
        </p>     
    </div>
</body>