<body style="background-image: url(https://img.freepik.com/free-vector/white-abstract-wallpaper_23-2148830026.jpg); background-repeat: no-repeat; background-attachment: fixed; background-size: 100% 100%;">

<h1>Based on the survey we suggest you to opt for non technical based carrier such as Mechanical Engineer, Automobile Engineer, Aeronautical Engineer etc. </h1>
<div>
   <p style="font-size: x-large;"> There are various non-technical fields in engineering that you can pursue, such as engineering management, engineering design, or engineering consulting. The requirements for these fields may vary depending on the country and the specific field you want to pursue. However, some common requirements for opting non-technical fields in engineering are:<body>   

    <p style="margin-left: 20px; font-size: x-large;"><b>Educational qualifications:</b> You need to have completed your high school education with a strong background in science and mathematics.<br><br>

    <b>Bachelor's degree: </b> To pursue non-technical fields in engineering, you may need to have a bachelor's degree in engineering or a related field.<br><br>

    <b>Relevant experience:</b> Some non-technical fields in engineering may require relevant work experience in the field.<br><br>

    <b>Good communication skills: </b> Non-technical fields in engineering require good communication skills to interact effectively with clients, colleagues, and other stakeholders.
    <br><br>

    <b>Good organizational skills:</b>: You need to have good organizational skills to manage projects effectively, meet deadlines, and deliver high-quality work.
    <br><br>

    <b>Business acumen: </b>: Non-technical fields in engineering require a good understanding of business principles and practices to manage budgets, negotiate contracts, and make informed business decisions.<br><br>

    <b>Specific skills:</b> Depending on the specific engineering field you want to pursue, there may be additional requirements. For example, if you want to pursue mechanical engineering, you may need to have a good understanding of physics and mechanics.<br><br>
    </p>
</body>    