<body style="background-image: url(https://img.freepik.com/free-vector/white-abstract-wallpaper_23-2148830026.jpg); background-repeat: no-repeat; background-attachment: fixed; background-size: 100% 100%;">
<h1>Based on the survey we suggest you to opt for technical based carrier such as computer science engineering, Information Technology(IT), Artificial Intelligence and Data Science(AIDS),etc. </h1>
<div>
   <p style="font-size: x-large;"> The requirements for opting a technical field in engineering may vary depending on the country and the specific engineering field you want to pursue. However, some common requirements are:<p>   

    <p style="margin-left: 20px; font-size: x-large;"><b>Educational qualifications:</b> You need to have completed your high school education with a strong background in science subjects, including physics, chemistry, and mathematics.<br><br>

    <b>Entrance examination:</b> Most universities or institutions require you to appear for an entrance exam, such as JEE Main, JEE Advanced, or other national-level or state-level engineering entrance exams.<br><br>

    <b>Minimum age:</b> Some universities or institutions have a minimum age requirement for applicants, which may be around 17-18 years.<br><br>

    <b>Language proficiency:</b> Some universities or institutions may require you to demonstrate proficiency in the language of instruction.<br><br>

    <b>Good health</b>: As with any technical field, you need to have good physical and mental health to cope with the demands of the course and profession.<br><br>

    <b>Practical skills</b>: Engineering is a practical field, and you need to have good problem-solving skills, analytical skills, and practical skills to apply theoretical knowledge to real-world problems.<br><br>

    <b>Specific skills:</b> Depending on the specific engineering field you want to pursue, there may be additional requirements. For example, if you want to pursue mechanical engineering, you may need to have a good understanding of physics and mechanics.<br><br>
    </p>     
</div>